html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  margin: 0;
  padding: 0;
}

iframe {
  width: auto;
}

.mdl-navigation {
  -webkit-flex-shrink: inherit; 
  -ms-flex-negative: inherit;
  flex-shrink: inherit;
  padding:0px !important;
  flex: auto;
}

.mdl-layout__content {
  padding:14px;
}

.mdl-layout__drawer {
width:400px;
-webkit-transform: translateX(-400px);
transform: translateX(-400px);
display:flex;
flex-direction: row;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
  margin-left: 400px;
  width: calc(100% - 400px);
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
  margin-left: 400px;
}

.mdl-layout--fixed-drawer>footer {
  margin-left: 400px;
}

@media (max-width: 1024px) {
  .mdl-layout--fixed-drawer>.mdl-layout__content {
      margin-left: 0;
  }

  .mdl-layout__drawer .mdl-layout__header {
      display: flex;
  }

  .mdl-layout--fixed-drawer>footer {
      margin-left: 0px;
  }
}


h5, h6 {
  margin: 17px 0 16px;
}

a {
  color: rgb(255, 158, 150);
}

small {
  color:#727171;
}

aside {
  span, p {
    color:white;
  }
  small {
    color: #f2e4e4;
  }
}

p {
  margin:0;
}

.mdl-layout__drawer{
  box-shadow: #CCC 0px 0px 0px;
  background: #217cc9;
}

.mdl-layout__header {
  background:transparent;
  box-shadow: 1px 0 2px #CCC;  
  color:black;
  .mdl-layout__drawer-button {
    color:black;
  }
}

aside {
  .mdl-layout__header {
    color:white;  
    box-shadow: 1px 0 2px #1966a7;
  }
}

aside {
  border-right: 1px solid #1e70b5 !important;
}

footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0px;
    text-align: center;
    color:white;
    background: #f2f4f6;
}

.mdl-button--fab.mdl-button--colored {
  background: #408ccd;
  color: #ffffff;
  background-size: cover
}

.link-list {
  height: 100%; 
  text-align: center;
  border-right: 1px solid #216fb2;
  background: #2276be;

  hr {
    margin:1em 9px;
    border-top:1px solid #25669d
  }

  img.logo {
      margin-top: 10px;
      border-left: 3px solid transparent;
  }

  button {
    display:block;
    margin-bottom:6px;
  }

  img {
    padding: 5px;
    cursor: pointer;
    display: block;
    border-left: 3px solid #ff6868;
    margin: 0 5px 0 3px;
  }

  img.active {
    border-left: 3px solid black;
  }
}

.topic {
  height: auto;
  min-height: 50px;
  padding: 8px;
  cursor:pointer;
  display:flex;

  button {
    margin: 0px 9px 0px 0px;
    background-size:cover !important;
    color:white
  }

  a {
    text-decoration: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 1.35;
    letter-spacing: .08em;
  }

  div {
    flex: 1
  }
}